server.port=8082
spring.profiles.active=dev

#API-KEY
api.key.header=api-key
valid.api.keys=TCC-FRONT-WEB,TCC-MS-EVENT,TCC-POSTMAN

# KAFKA
application-group.id=MSMAILER
kafka.parameters.brokers=brokers=localhost:9092
kafka.parameters.default=maxPollRecords=500&maxPollIntervalMs=300000&sessionTimeoutMs=10000&heartbeatIntervalMs=3000&autoOffsetReset=latest&autoCommitEnable=true&consumersCount=3
kafka.parameters.group=groupId=${application-group.id}_${spring.profiles.active}
kafka.parameters=${kafka.parameters.brokers}&${kafka.parameters.default}&${kafka.parameters.group}

kafka.email.endpoint=kafka:events_msmailer_email?${kafka.parameters}

# MAIL
mail.host=smtp.gmail.com
mail.port=587
mail.username=
mail.password=

spring.mail.host=${mail.host}
spring.mail.port=${mail.port}
spring.mail.username=${mail.username}
spring.mail.password=${mail.password}
spring.mail.properties.mail.smtp.auth=true
spring.mail.properties.mail.smtp.starttls.enable=true


#JPA and DATABASE
spring.jpa.database=MYSQL
spring.datasource.url=jdbc:mysql://localhost:3307/msmailer?useSSL=false&allowPublicKeyRetrieval=True
spring.datasource.username=root
spring.datasource.password=root
spring.jpa.show-sql=true

spring.flyway.placeholder-prefix==>123654

email.verification.url=http://localhost:3000/verification/