server.port=8082
application.name=ms-mailer

#API-KEY
api.key.header=api-key
valid.api.keys=TCC-FRONT-WEB,TCC-MS-EVENT,TCC-POSTMAN

#SQS
cloud.aws.region.static=us-east-1
cloud.aws.stack.auto=false
cloud.aws.credentials.access-key=access_key
cloud.aws.credentials.secret-key=access_key_id
cloud.aws.endpoint.uri=https://sqs.us-east-1.localhost.localstack.cloud:4566/000000000000/my-events-email-request

# MAIL
mail.host=smtp.gmail.com
mail.port=587
mail.username=<YOUR_EMAIL_HERE>
mail.password=<YOUR_PASSWORD_HERE>

spring.mail.host=${mail.host}
spring.mail.port=${mail.port}
spring.mail.username=${mail.username}
spring.mail.password=${mail.password}
spring.mail.properties.mail.smtp.auth=true
spring.mail.properties.mail.smtp.starttls.enable=true


#JPA and DATABASE
spring.jpa.database=MYSQL
spring.datasource.url=jdbc:mysql://localhost:3306/msmailer?useSSL=false&allowPublicKeyRetrieval=True&createDatabaseIfNotExist=true
spring.datasource.username=root
spring.datasource.password=root
spring.jpa.show-sql=true

spring.flyway.placeholder-prefix==>123654

email.verification.url=http://localhost:3000/verificar/
email.change.url=http://localhost:3000/mudar-email/
password.change.url=http://localhost:3000/mudar-senha/
band.quote.requests.url=http://localhost:3000/bandas/%s/pedidos-de-orcamento
